<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarrasques.blog.gateway.mapper.AccessLogInfoMapper">

  <resultMap id="BaseResultMap" type="com.tarrasques.blog.commons.entity.AccessLogInfo">
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="access_name" jdbcType="VARCHAR" property="accessName"/>
    <result column="access_ip" jdbcType="VARCHAR" property="accessIp"/>
    <result column="access_time" jdbcType="TIMESTAMP" javaType="String" property="accessTime"/>
  </resultMap>

  <sql id="Where_Clause">
    <where>
      <if test="id != null and id != ''">
        and id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="accessName != null and accessName != ''">
        and access_name = #{accessName,jdbcType=VARCHAR},
      </if>
      <if test="accessIp != null and accessIp != ''">
        and access_ip = #{accessIp,jdbcType=VARCHAR},
      </if>
      <if test="accessPath != null and accessPath != ''">
        and access_path = #{accessPath,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null">
        and access_time = #{accessTime,jdbcType=VARCHAR},
      </if>
      <if test="accessTimeStart != null and accessTimeEnd != null">
        and access_time between access_time = #{accessTimeStart,jdbcType=TIMESTAMP} and access_time =
        #{accessTimeEnd,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>

  <select id="select" parameterType="com.tarrasques.blog.commons.entity.AccessLogInfo" resultType="java.util.List">
    select * from access_log_info
    <if test="_parameter != null">
      <include refid="Where_Clause"/>
    </if>
  </select>

  <insert id="insertAccessLog" parameterType="com.tarrasques.blog.commons.entity.AccessLogInfo">
    insert into access_log_info(id, access_name, access_path, access_ip, access_time)
    values (#{id,jdbcType=VARCHAR}, #{accessName,jdbcType=VARCHAR}, #{accessPath,jdbcType=VARCHAR},
            #{accessIp,jdbcType=VARCHAR},
            #{accessTime,jdbcType=VARCHAR})
  </insert>

</mapper>